/*=========== General Css ===========*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {} */

h2 {
  font-weight: bold;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  font-size: smaller;
  margin: 0;
}

a {
  text-decoration: none;
}

.my-clr {
  color:#feaf00 !important;
}

.btn-clr {
  background-color: #feaf00 !important;
  border-radius: 4px !important;
  text-transform: none !important;
  color: black !important;
}


/*=========== Login Page ===========*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.page-login{
  background: linear-gradient(118deg, rgb(227, 182, 1) 0%,  #ffffff 45%);
}
.lo-go{
  margin-bottom: 30px;
}
.lo-go img{
  background: linear-gradient(118deg, rgb(220, 147, 1) 0%, #ffffff00 45%);
  border-radius: 12px ;
}
.lo-go img,
.the-logo img {
  width: 50%;
  display: flex;
}


.signin-txt{
  width: 75%;
}
.login-form{
  background-color: white;
  width: 70%;
  border-radius: 20px;
  padding: 30px;

}
.login-form .login-heading .signup-txt a {
  font-weight: bold;
  margin-left: 5px;
}


.back-img {
  background-image: url(./Images/medicine-.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: #F8CB64;
}

/*=========== Sign up Page ===========*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.left-side .the-logo {
  padding: 30px 0px 30px 30px;
}

.left-side .signup-form {
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
  height: 100vh;
}

.right-side {
  background: linear-gradient(118deg, #ffffff 40%, rgb(227, 182, 1)  65%);
  display: flex;
  justify-content: center;
  padding: 150px 50px 0px 50px;
}

.right-side .li-st p {
  margin-left: 28px;
}

/* Signup Password icon and text */

.validation-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}

.validation-icon p {
  margin-bottom: 0;
  display: inline;
}
/* forgot  password  css */
.forget-page{
  background: linear-gradient(118deg, rgb(227, 182, 1) 0%,  #ffffff 45%);
}
.resetpassword-form {
  background-color: white;
  width: 50%;
  padding: 30px;
  border-radius: 15px;
}
.forget-img {
  background-image: url(./Images/hand.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.drawer{
  background-color: #f2eae1 !important;
  height: 100%;
}
/*=========== Admin ===========*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.header {
  display: flex;
  justify-content: space-between;
}

/*=========== DashBoard / Cards ===========*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.header-section {
  margin-left: 30px;
}
.inner-card {
  margin: 40px 10px 0px 10px;
}

.customer-section{
  margin: 0px 20px ;
}

